flexer(justifyVar, dirVar)
    display flex
    justify-content justifyVar
    flex-direction dirVar
    
$borderDefault = 1px solid black

body
    flexer(center,row-reverse)

.mainer
    width 55%
    border $borderDefault
    margin 1em

.sidemenu
    width 35%
    border $borderDefault
    margin 1em

.header
    display flex
    justify-content space-between
    padding 10px
    border-bottom $borderDefault

select#sort
    min-width 100px
    height 30px

.hideoption
    display none
    visibility hidden
    height 0
    font-size 0

input[type=search]
    border $borderDefault
    background-color white
    background-image url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png')
    background-position 5px 5px
    background-size 30px
    background-repeat no-repeat
    padding 12px 20px 12px 40px
    width 90%
    margin 10px auto

.content
    flexer(center,column)

.avatar
    width 80%
    height 50%
    max-width 150px
    max-height 150px
    min-height 100px

.Collaboratorprof
    text-align center
    width 40%
    padding 2% 0 0 0
    float left
    border $borderDefault
    margin 2% 0 0 6%

.Collaboratorlist
    overflow scroll
    max-height 100%
    overflow-x hidden
    padding-bottom 40px

.article
    border $borderDefault
    width 80%
    margin 10px auto
    padding 10px

.pending
    background-color #e2b4b0

.in-progress
    background-color #fcf6b5

.published
    color black
    background repeating-linear-gradient( 135deg, white, lightblue 10px, white 10px, lightblue 10px )

.articles
    overflow scroll
    max-height 123%
    overflow-x hidden