fluxion(varDir)
    display flex
    flex-direction varDir
$borderDefault = 1px solid black
.login
    fluxion(column)
    border $borderDefault
    width 40%
    margin 30 auto

    p
        display: flex
        justify-content: center

        label
            margin 0 10 0 0
            width 80px
    
    button
        width 30%
        padding 5px
        margin 5px auto